extends layout 

block content
  div(class='secondary-navigation')
    h1(class='is-size-2')=title
  div(class='list-container')
    div(class='list-box')
      - var totalPrice = 0
      div(class='product-titles')
        p Component
        p Selection
        p Price
        p Product Link 
        p Remove
      each component in components
        - let key = component._id
        - let product = null
          if (userList[key])
            - product = userList[key]
            - totalPrice += parseFloat(product.price.slice(1).split(',').join(''))
            - totalPrice = `$${String(totalPrice)}` 
            div(class='list-card')
              div(class='card-item-0')
                a(href='' class='liner is-size-5 has-text-weight-bold has-text-black') #{component.name}
              div(class='card-item-1 has-text-weight-medium' )
                h1(class='is-size-6 has-text-grey') Selection
                p(class='is-size-6 pt-1')
                  a(href=product.url class='has-text-black') #{product.name}
              div(class='card-item-2 has-text-weight-medium')
                h1(class='is-size-6 has-text-grey') Price
                p(class='is-size-6 pt-1') #{product.price}
              div
                a(class='component-button button is-link' href=`https://www.amazon.com/s?k=${product.name}`) Buy from Amazon
              div(class='card-item-4')
                button(class='component-button button is-danger removeKey' data-removekey=`${key}`) Remove
          else
            hr(class='')
            div(class='add-component')
              div(class='has-text-weight-medium')
                a(href='' class='liner is-size-5 has-text-weight-bold has-text-black') #{component.name}
              div
                p(class='')
                  a(class='button is-link choose-btn' href=component.url) ADD Component
      div(class='cart')
        p(class='has-text-right has-text-weight-bold is-size-4 p-6') Total: #{totalPrice}


  script(type='text/javascript' src='/javascripts/removeCookies.js')
  

                
      
    


          