extends layout 

block content
  div(class='product-detail-container')
    div(class='secondary-navigation')
      h1(class='is-size-3 has-text-weight-medium')= product.name
      p(class='product-edit')
        span
          a(href=`${product.url}/update`) Update
        span
          a(href=`${product.url}/delete`) Delete
    div(class='product-image')
      img(class='' src=`/images/${product.img}`)
    div(class='product-specs')
      h2 Product Specification
      div(class='features-container')
        hr
        each techInfo in features
          p()= techInfo
          hr
    div(class='product-price')
      p() #{product.price}
    div(class='')
      button(class='add add-button button is-medium is-primary' data-componentid=`${component._id}` data-productid=`${product._id}`) Add

    script(type='text/javascript' src='/javascripts/updateCookies.js')
        
          
      
