extends layout 

block content
  div.secondary-navigation
    h1(class='is-size-3 has-text-weight-medium') #{title}
    span(class='has-text-centered')
     a(href='/list') Home
     p(class='ml-2 is-inline') >
     a(class='ml-2' href=product.url) #{product.name}
  section(class='product-update-form-container')
    .product-update-form
      if (typeof errors != 'undefined')
        ul
          each error in errors
            li= error.msg
      div(class='image-container')
        if (typeof product != 'undefined' && product.img && typeof product.img != 'undefined')
          img(class='image-update' src=`/images/${product.img}` width='400')
        else 
          p image not found
      form(method='POST' action='' class='update-form-container has-text-white' enctype="multipart/form-data")
        .field
          label.legend Name
          .control
            input.input(class='input' minlength='3', required, type='text', name='name', id='name', value=(undefined===product ? '' : product.name))
        .field
          label.legend Features
          .control
            textarea.textarea(required, name="technicalInformation", id="technicalInformation", cols="30", rows="10") #{value=(undefined===product ? '' : product.technicalInformation)}
        .field
          label.legend Price 
          .control
            input.input(required, type='text', name='price', id='price', value=(undefined===product ? '' : product.price))
        .field
          label.legend Stock
          .control
            input.input(required, type='text', name='stock', id='stock', value=(undefined===product ? '' : product.stock))
        .field
          label.legend Image
          .control
            input#part_image(type='file' name='upload')
        .field.is-grouped
          .control
            button.button.is-link(type='submit') Submit
          .control
            button.button.is-link.is-light Cancel
                      
                

    
   

            
      

            

            
    
