extends layout 

block content
  nav(class='navbar is-black')
  div(class='product-detail-container')
    div(class='product-name')
      h1= product.name
      p(class='product-edit')
        span
          a(href=`${product.url}/update`) Update
        span
          a(href=`${product.url}/delete`) Delete
    div(class='product-image')
      img(class='' src='/images/01.jpg')
    div(class='product-specs')
      h2 Product Specification
      div(class='features-container')
        hr
        each techInfo in features
          p()= techInfo
          hr
    div(class='product-price')
      p() $#{product.price}
    div(class='')
      button(class='add-button button is-medium is-primary' data-componentid=`${component._id}` data-productid=`${product._id}`) add

    script(type='text/javascript' src='/javascripts/updateCookies.js')
        
          
      
